<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-3 border register" style="margin-top: 200px !important;">
        <h1 class="text-center">Register Here</h1>

        <form>
            <!-- user name files -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Full Name*</mat-label>
            <input matInput placeholder="Enter Here">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email Id*</mat-label>
            <input matInput placeholder="Enter Here">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Mobile Number*</mat-label>
            <input matInput placeholder="Enter Here">
          </mat-form-field>

          <button mat-stroked-button type="button"><img src="../../../assets/gmail_login_logo.png"></button>

          <div class="container text-center">
            <button mat-raised-button color="primary" class="mb-4" type="submit">Registration</button>
          </div>
        </form>
        <h3>Your are already register? <a routerLink="/login">Login</a></h3>

      </div>
    </div>
  </div>
</div>

