mat-radio-group.mat-radio-group {
  display: flex;
  flex-direction: column;
}
.mat-radio-button{
  padding: 9px 0;
}
.marked-details{
  padding: 0px 5px;
  margin: 0;
}
.answered{
  background-color: green;
  padding: 5px 10px;
  border-radius: 10px;
}
.marked{
  background-color: blueviolet;
  padding: 5px 10px;
  border-radius: 10px;
}
.not-visited{
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
}
.marketd-answer{
  background-color: rgb(80, 48, 197);
  padding: 5px 10px;
  border-radius: 10px;
}
.not-answered{
  background-color: rgb(146, 40, 40);
  padding: 5px 10px;
  border-radius: 10px;

}
.normal-list{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 10px;
  overflow: auto;
}
.normal-list .extra{
  position: relative;
  border: 1px solid #000;
  font-size: 16px;
  color: #000;
  background-color: #f9f9f9;
  margin: 7px;
  float: left;
  cursor: pointer;
  width: 38px;
  padding: 4px 0;
}
.normal-list .label {
  display: inline;
  padding: .1em .3em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1px;
}
