<div class="container-fluid" (contextmenu)=onRightClick($event) appBlockCopyPaste>
  <mat-card>
    <div class="row">
      <div class="col-md-4">
        <mat-card-header>himchal pradesh exam</mat-card-header>
      </div>
      <div class="col-md-4 text-center">
        <mat-card-header >Time Left: 10:12.00</mat-card-header>
      </div>
      <div class="col-md-4" style="text-align: right;">

        <button *ngIf="fullscreendisplay; else elseBlock" class="btn btn-outline-primary mx-2" (click)="fullscreen()">Enter a FullScreen</button>
        <ng-template #elseBlock> <button class="btn btn-outline-primary mx-2" (click)="exitscreen()">Exit FullScreen</button></ng-template>


        <button class="btn btn-outline-primary" >Pause</button>
      </div>
    </div>
  </mat-card>

  <div class=" mt-4">
    <div class="row">

      <div class="col-md-10">
        <mat-card style="background-color: rgb(245, 244, 244);">
         <div class="row">
           <div class="col-md-10">
              <span>Question No.1</span>
           </div>

           <div class="col-md-2" >
             <span style="padding: 0px 31px;">Marks: <b>1</b></span>
             <span>time: <b>10:25</b></span>
           </div>
         </div>
        </mat-card>

       <div class="mt-4">
        <mat-card style="height: 75vh;">
          <mat-card-subtitle style="color: black;">
            What is the term for a temporary storage area that compensates for differences in data rate and data flow between devices?
          </mat-card-subtitle>
          <mat-radio-group>
            <mat-radio-button value="1">Buffer</mat-radio-button>
            <mat-radio-button value="2">Bus</mat-radio-button>
            <mat-radio-button value="3">Channel</mat-radio-button>
            <mat-radio-button value="4">modem</mat-radio-button>
          </mat-radio-group>
        </mat-card>
       </div>
       <mat-card style="background-color: rgb(245, 244, 244); position: fixed;
       width: 82%;
       bottom: 0;">
         <div class="row">
           <div class="col-md-10">
            <button class="btn btn-md btn-primary mx-4">Mark to review the next</button>
            <button class="btn btn-md btn-primary">clear response</button>
           </div>
           <div class="col-md-2" style="text-align: right;">
            <button class="btn btn-md btn-primary">save & Next</button>
           </div>
         </div>
       </mat-card>
      </div>

      <!-- side bar -->
      <div class="col-md-2">
      <mat-card style="background-color: rgba(91, 144, 160, 0.4); height: 91vh;">
          <mat-card>

            <mat-card-subtitle> <img src="https://picsum.photos/seed/picsum/200/300" class="rounded-circle mx-2" style="width: 30px;
              height: 30px;" >Nitish</mat-card-subtitle>
          </mat-card>

        <div class="row">
          <div class="col mt-4">
            <ul style="line-height: 36px; list-style: none; padding: 0;">
              <li><span class="marked-details"><b class="mx-2 answered">1</b>Answered</span></li>
              <li> <span class="marked-details"><b class="mx-2 marked">0</b>Marked</span></li>
              <li><span class="marked-details"><b class="mx-2 not-visited">45</b>Not Visited</span></li>
              <li><span class="marked-details"><b class="mx-2 not-answered">23</b>Not Answered</span></li>
              <li><span class="marked-details"><b class="mx-2 marketd-answer">23</b>marked and Answered</span></li>
            </ul>

            <mat-card-subtitle style="background-color: rgb(91, 144, 160);"><b>SECTON:</b> Test</mat-card-subtitle>

            <!-- test series -->
            <ul class="normal-list">
              <li class="label extra ">1</li>
              <li class="label extra" >2</li>
              <li class="label extra" >3</li>
              <li class="label extra">4</li>
              <li class="label extra">5</li>
              <li class="label extra">6</li>
              <li class="label extra">7</li>
              <li class="label extra">8</li>
              <li class="label extra">9</li>

              <li class="label extra" >2</li>
              <li class="label extra" >3</li>
              <li class="label extra">4</li>
              <li class="label extra">5</li>
              <li class="label extra">6</li>
              <li class="label extra">7</li>
              <li class="label extra">8</li>
              <li class="label extra">9</li>
            </ul>

          </div>
        </div>
        <mat-card-footer style="bottom: 0; margin-bottom: 0; position: fixed;
        bottom: 21px;
        right: 150px;"><button  class="btn btn-outline-primary">Submitted</button></mat-card-footer>
      </mat-card>
      </div>
    </div>
  </div>
</div>
