<div class="bootstrap-wrapper">
  <div class="container">

    <div class="row mt-4">

      <div class="col-md-8 offset-md-1 mt-4">
        <mat-card style="background-color: white;">
         <div class="row">
           <div class="col-md-6">
            <span class="free-title">free</span>
            <h2 class="header-list">Math Questions</h2>
            <span class="span-title"><fa-icon [icon]="faQuestion" ></fa-icon>15 question</span>
            <span class="span-title"><fa-icon [icon]="faFile" ></fa-icon> 15 Marks</span>
            <span class="span-title"><fa-icon [icon]="faClock" ></fa-icon>12 Mins</span>
           </div>

           <div class="col-md-6" style="text-align: right; margin-top: auto;">
             <button mat-button color="primary">startNow</button>
           </div>
         </div>
         <div class="row" style="background-color: rgb(250, 250, 250);">
          <div class="col">
          <span class="mx-4 footer-card" >syllabus:</span>
          <span class="footer-card">English</span>
          </div>
         </div>
        </mat-card>
      </div>

      <div class="col-md-8 offset-md-1 mt-4">
        <mat-card style="background-color: white;">
         <div class="row">
           <div class="col-md-6">
            <span class="free-title">free</span>
            <h2 class="header-list">Math Questions</h2>
            <span class="span-title"><fa-icon [icon]="faQuestion" ></fa-icon>15 question</span>
            <span class="span-title"><fa-icon [icon]="faFile" ></fa-icon> 15 Marks</span>
            <span class="span-title"><fa-icon [icon]="faClock" ></fa-icon>12 Mins</span>
           </div>

           <div class="col-md-6" style="text-align: right; margin-top: auto;">
             <button mat-button color="primary">startNow</button>
           </div>
         </div>
         <div class="row" style="background-color: rgb(250, 250, 250);">
          <div class="col">
          <span class="mx-4 footer-card" >syllabus:</span>
          <span class="footer-card">English</span>
          </div>
         </div>
        </mat-card>
      </div>

      <div class="col-md-8 offset-md-1 mt-4">
        <mat-card style="background-color: white;">
         <div class="row">
           <div class="col-md-6">
            <span class="free-title">free</span>
            <h2 class="header-list">Math Questions</h2>
            <span class="span-title"><fa-icon [icon]="faQuestion" ></fa-icon>15 question</span>
            <span class="span-title"><fa-icon [icon]="faFile" ></fa-icon> 15 Marks</span>
            <span class="span-title"><fa-icon [icon]="faClock" ></fa-icon>12 Mins</span>
           </div>

           <div class="col-md-6" style="text-align: right; margin-top: auto;">
             <button mat-button color="primary">startNow</button>
           </div>
         </div>
         <div class="row" style="background-color: rgb(250, 250, 250);">
          <div class="col">
          <span class="mx-4 footer-card" >syllabus:</span>
          <span class="footer-card">English</span>
          </div>
         </div>
        </mat-card>
      </div>

      <div class="col-md-8 offset-md-1 mt-4">
        <mat-card style="background-color: white;">
         <div class="row">
           <div class="col-md-6">
            <span class="free-title">free</span>
            <h2 class="header-list">Math Questions</h2>
            <span class="span-title"><fa-icon [icon]="faQuestion" ></fa-icon>15 question</span>
            <span class="span-title"><fa-icon [icon]="faFile" ></fa-icon> 15 Marks</span>
            <span class="span-title"><fa-icon [icon]="faClock" ></fa-icon>12 Mins</span>
           </div>

           <div class="col-md-6" style="text-align: right; margin-top: auto;">
             <button mat-button color="primary">startNow</button>
           </div>
         </div>
         <div class="row" style="background-color: rgb(250, 250, 250);">
          <div class="col">
          <span class="mx-4 footer-card" >syllabus:</span>
          <span class="footer-card">English</span>
          </div>
         </div>
        </mat-card>
      </div>

    </div>
  </div>
</div>
