.free-title{
  background: rgb(53, 230, 9);
    text-transform: uppercase;
    margin-top: -11px;
    padding: 5px 15px;
    border-radius: 5px;
}
.header-list {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
}
.span-title {
  display: inline;
  justify-content: space-around;
  padding: 0px 7px;
  font-size: 14px;
  color: darkgray;
}
mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: -15px;
  margin-top: 10px;
}
