body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 0;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.bg-light {
  background-color: rgb(16, 17, 17)!important;
}

a.list-group-item.list-group-item-action.bg-light {
  color: white;
  font-size: 18px;
  padding: 12px 26px;
}
a.list-group-item.list-group-item-action.bg-light:hover{
  text-decoration: underline;
}

#page-content-wrapper{background-color: rgb(16, 17, 17)!important;

}
.toggle-hide{
  display: none;
}
#sidebar-wrapper .sidebar-heading{
  padding: 0.875rem 1.25rem;
  /* font-size: 1.2rem; */
  color: white;
  font-size: 1.5rem !important;
  margin-top: 22px;
  border-bottom: 1px solid #645d5deb;
}


@media only screen and (max-width: 768px) {
  .toggle-hide{
  display: block;
}
#page-content-wrapper {
  min-width: 0;
  width: 0;
}
}
