<!-- <div class="bg-light border-right" id="sidebar-wrapper">
<mat-card class="sidebar">
  <mat-action-list>
    <div mat-subheader>Dashboard</div>

    <button routerLink="/dashboard" mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon>Home
    </button>


    <button mat-list-item routerLink="/dashboard/quzze-list">
      <mat-icon mat-list-icon>quiz</mat-icon>quize
    </button>


    <button mat-list-item>
      <mat-icon mat-list-icon>quiz</mat-icon>Test
    </button>

  </mat-action-list>
</mat-card> -->


<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><mat-icon>account_circle</mat-icon> Therichpost </div>
    <div class="list-group list-group-flush">
      <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-light">Home</a>
      <a routerLink="/dashboard/quzze-list" class="list-group-item list-group-item-action bg-light">quize</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
    </div>
  </div>

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" >
      <button class="btn btn-primary toggle-hide" id="menu-toggle"><mat-icon *ngIf="toggled">menu</mat-icon></button>

    </nav>
    </div>




