<div class="bootstrap-wrapper container-fluid">

    <div class="row">

      <div class="col-md-2">
         <app-sidenav></app-sidenav>
      </div>

      <div class="col-md-10 mt-4">

        <mat-toolbar style="padding: 0px 23px;">

          <div class="row" style="width: 100%;">
            <div class="col-md-6">
          <div class="custom-search-input">
            <div class="input-group col-md-12">
                <input type="search" class="  search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                       <mat-icon>search</mat-icon>
                    </button>
                </span>
            </div>
        </div>
      </div>
      <div class="col-md-6" style="text-align: right;">
          <!-- drop down  -->
          <div ngbDropdown >
          <button style="margin-left: -12px;" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" id="dropdownBasic1" ngbDropdownToggle>
            <mat-icon >
              account_circle
              </mat-icon>
             <span>User</span>

            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
          </button>

          </div>
          </div>
        </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </div>
    </div>

</div>
