/* .example-spacer {
  flex: 1 1 auto;
} */
.mat-form-field-appearance-outline .mat-form-field-infix {
  /* padding: 1em 0 1em 0; */
  padding: 5px !important;
  max-width: 400px !important;
  margin: auto !important;
}

span.mat-button-wrapper {
  margin-left: -46px !important;
}
.custom-search-input {
  margin:0;
  padding: 0;
}

.custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 5px 5px 0 0;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:#000;
}

.search-query:focus + button {
  z-index: 3;
}
