body{
  background: #eee;
}
span{
  font-size:15px;
}
a{
text-decoration:none;
color: #0062cc;
border-bottom:2px solid #0062cc;
}
.box{
  padding:60px 0px;


}

.box-part{
  background-image: linear-gradient(rgba(116, 21, 255, 0.25) 0%, rgba(255, 255, 255, 0.54) 30%, white 100%);
  padding:60px 10px;
  margin:30px 0px;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}

.col-lg-3 {
  margin-bottom: -34px;
  margin-top: -7px;
}
.rounded-circle{
  height: 30px;
   width: 30px;
}
.title{
  margin-top: -42px;
}

.card-peragraph{
  margin: 0 0 5px !important;
  font-size: 13px !important;
  text-align: left !important;
}
