<div class="box">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">


     <div class="row">


        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 " >


        <div class="box-part text-center card">
          <div class="title">

            <h4><img src="https://picsum.photos/seed/picsum/200/300" class="rounded-circle"> Current affairs for SSC</h4>
            <hr>
          </div>

          <div class="" style="margin-top: -9px; border-bottom:1px solid rgb(179, 176, 176);">
           <span class="card-language" style="font-size: 13px; color: blue;"><mat-icon style="font-size: 15px !important;">g_translate</mat-icon>English Hindi</span>
          </div>
          <div>
            <p class="card-peragraph">76 Chapter Test</p>
            <p class="card-peragraph">36 Full Test</p>
            <p class="card-peragraph">25 section test</p>
            <p class="card-peragraph">+125 more test</p>
          </div>
         </div>
      </div>


       <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center card">

            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Twitter</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>

          <a href="#">Learn More</a>

         </div>
      </div>

       <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center card">

                      <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Facebook</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>

          <a href="#">Learn More</a>

         </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center card">

                      <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Pinterest</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>

          <a href="#">Learn More</a>

         </div>
      </div>

       <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center card">

            <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Google</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>

          <a href="#">Learn More</a>

         </div>
      </div>

       <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center card">

                      <i class="fa fa-github fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Github</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>

          <a href="#">Learn More</a>

         </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center card">

                      <i class="fa fa-github fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Github</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>

          <a href="#">Learn More</a>

         </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center card">

                      <i class="fa fa-github fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Github</h4>
          </div>

          <div class="text">
            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
          </div>

          <a href="#">Learn More</a>

         </div>
      </div>

  </div>
</div>
</div>
  </div>
</div>

